// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';
@import 'typography';

.table-detail {
  .column-layout-1 {
    margin-top: 3%;

    .left-panel {
      .programmatic-title {
        color: $text-primary;
        font-weight: $font-weight-body-bold;
        margin: 30px 0 10px;
      }

      .programmatic-hr {
        border: 1px solid $gray15;
        margin: 10px 0 4px;
      }
    }
  }

  .resource-header {
    border: none;
  }

  .header-title-text {
    @extend %text-headline-w2;
  }

  .header-links {
    .avatar-label {
      &:focus,
      &:hover {
        color: $link-hover-color;
      }
    }
  }

  .header-last-updated {
    display: inline-block;
  }

  .tab-title {
    display: flex;

    .loading-spinner {
      height: 20px;
      margin: 0 0 0 $spacer-1/2;
      width: 20px;
    }
  }

  .nav.nav-tabs {
    margin-top: $spacer-2;
    padding: 0 $spacer-2;
  }

  .tabs-component .nav.nav-tabs > li {
    margin: 0 $spacer-1;
  }

  .right-panel {
    position: relative;
  }

  .list-sorting-dropdown {
    right: $spacer-3;
    top: $spacer-2;
    position: absolute;
  }

  .resource-detail-overview-left-col {
    display: flex;
    flex-direction: column;

    .resource-detail-owners-users,
    .resource-detail-tags {
      border: 2px solid $stroke;
    }

    .resource-detail-tags {
      margin-top: 15%;
    }
  }

  .resource-detail-overview-right-col {
    display: flex;
    flex-direction: column;

    .resource-detail-overview-info {
      border: 2px solid $stroke;
    }

    .resource-detail-overview-discussion {
      margin: 5% 0;
      display: flex;
      flex-direction: column;
    }
  }

  .resource-detail-columns-view {
    display: flex;
    flex-direction: column;

    .column-table-wrapper {
      overflow: scroll;

      .column-table {
        border: 2px solid $stroke;
        cursor: pointer;

        th {
          background: $gray5;
        }

        .selected-row {
          background: $red5;
        }

        .column-name-cell {
          color: $mint40;
          font-weight: 600;
        }
      }
    }

    .column-discussion {
      margin: 5% 0;
    }
  }

  // Bootstrap

  .flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0 0 0 5%;
    list-style: none;
    border: 2px solid $stroke;
    flex: 2;
    height: min-content;
  }

  .nav-item {
    font-size: 18px;
    text-align: center;
    cursor: pointer;
  }

  .nav-link {
    border-radius: 0.25rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.15s ease;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    // Disabled state lightens text
    &.disabled {
      color: #6c757d;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    color: #fff;
    background-color: #007bff;
  }

  .tab-content {
    width: 100%;
    margin: 0 0 2% 3%;
    flex: 8;
    overflow: scroll;

    > .tab-pane {
      display: none;
    }

    > .active {
      display: block;
    }
  }
}
