// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';
@import 'typography';

.table-detail {
  overflow: auto;

  .column-layout-1 {
    margin-top: 3%;

    .left-panel {
      .programmatic-title {
        color: $text-primary;
        font-weight: $font-weight-body-bold;
        margin: 30px 0 10px;
      }

      .programmatic-hr {
        border: 1px solid $gray15;
        margin: 10px 0 4px;
      }
    }
  }

  .resource-header {
    border: none;
  }

  .header-section.header-title {
    display: flex;
    flex-direction: column;
  }

  .header-title-text {
    @extend %text-headline-w2;

    color: $sieve-light-green;
    margin: 0;
  }

  .header-links {
    .avatar-label {
      &:focus,
      &:hover {
        color: $link-hover-color;
      }
    }
  }

  .header-last-updated {
    display: inline-block;
    vertical-align: super;
  }

  .table-detail-body {
    section {
      background-color: $white;
    }
  }

  .tab-title {
    display: flex;

    .loading-spinner {
      height: 20px;
      margin: 0 0 0 $spacer-1/2;
      width: 20px;
    }
  }

  .nav.nav-tabs {
    margin-top: $spacer-2;
    padding: 0 $spacer-2;
  }

  .tabs-component .nav.nav-tabs > li {
    margin: 0 $spacer-1;
  }

  .right-panel {
    position: relative;
  }

  .list-sorting-dropdown {
    right: $spacer-3;
    top: $spacer-2;
    position: absolute;
  }

  .section-title {
    font-size: 18px;
    color: black;
    font-weight: 700;
  }

  .resource-detail-overview-left-col {
    display: flex;
    flex-direction: column;

    .resource-detail-owners-users,
    .resource-detail-tags {
      border: 2px solid $stroke;
      padding: 8%;

      .avatar-label {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
      }
    }

    .resource-detail-tags {
      margin-top: 15%;
    }

    .resource-frequent-users {
      margin-top: 10%;
    }
  }

  .resource-detail-overview-right-col {
    display: flex;
    flex-direction: column;

    .resource-detail-overview-info {
      border: 2px solid $stroke;
      padding: 3%;
    }
  }

  .resource-detail-columns-view {
    display: flex;
    flex-direction: column;

    .column-table-wrapper {
      background-color: white;
      overflow: auto;

      .column-table {
        border: 2px solid $stroke;
        cursor: pointer;
        margin: 0;

        th {
          background: $sieve-gray;
        }

        .selected-col {
          background: $red5;
        }

        .column-name-cell {
          color: $sieve-light-green;
          font-weight: 600;
        }
      }
    }

    .tab-content {
      margin: 0;
    }

    .column-discussion {
      margin: 5% 0;
    }
  }

  // Bootstrap

  .flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0 0 0 5%;
    list-style: none;
    border: 2px solid $stroke;
    flex: 2;
    height: min-content;
    background-color: $white;
  }

  .nav-item {
    font-size: 18px;
    text-align: center;
    cursor: pointer;
  }

  .nav-link {
    border-radius: 0.25rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.15s ease;
    color: $black;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    // Disabled state lightens text
    &.disabled {
      color: #6c757d;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    color: $sieve-red;
    background-color: $sieve-mint;
  }

  .tab-content {
    width: 100%;
    margin: 0 0 2% 3%;
    flex: 8;

    > .tab-pane {
      display: none;
      margin-bottom: 10%;
      overflow-x: hidden;
      overflow-y: auto;
    }

    > .active {
      display: block;
    }
  }

  .ant-comment {
    background-color: $white;
    padding: 3% 3% 0 3%;
    border-left: 1px solid $stroke;
    margin-top: 2%;

    .ant-comment-inner {
      padding: 0;
    }
  }
}

.create-comment-wrapper {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  padding: 3%;
  border: 2px solid $stroke;

  .discussion-label {
    display: inline-block;
  }

  .table-col-label {
    color: $sieve-light-green;
    display: inline-block;
    margin-left: 5%;
  }

  .comment-editor-box {
    margin-top: 3%;
  }

  .comment-btn-wrapper {
    background-color: $sieve-gray;
    border: 1px solid $stroke;
    border-top: 0;

    .comment-btn {
      float: right;
      margin: 1%;
    }
  }
}
